<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">


<title layout:fragment="title">
	ちけの便利ツール
</title>
<section layout:fragment="page-title">
	ちけの便利ツール
</section>
<!-- ページ専用CSSを追加 -->
<section layout:fragment="head-extra">
</section>


<section layout:fragment="content">
	<!-- メイン -->
		<h2 class="subtitle">提供中のツール</h2>
		<div class="row g-4">
			<!-- タイトル下（スマホ） -->
			<div class="d-block d-md-none text-center my-2">
				<div id="im-46085eb5265e4f309e5cfe58772c8780">
				  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
				  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592090,asid:1928452,type:"banner",display:"inline",elementid:"im-46085eb5265e4f309e5cfe58772c8780"})</script>
				</div>
			</div>
			<!-- DQX 職人素材計算機 -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body">
						<h5 class="card-title">DQX | 職人計算機</h5>
						<p class="card-text">作成物に必要な素材をまとめて計算できるツールです。木工職人とさいほう職人向けの計算機能もあります。</p>
						<a href="/dq10/crafter-calculator/" class="btn btn-primary w-100">使ってみる</a>
					</div>
				</div>
			</div>
			<!-- 一つ目のカードした広告（スマホ） -->
			<div class="d-block d-md-none text-center my-2">
				<div id="im-a5b02b0f6d224b1bb0928c5b72d1cc4d">
				  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
				  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592090,asid:1928450,type:"banner",display:"inline",elementid:"im-a5b02b0f6d224b1bb0928c5b72d1cc4d"})</script>
				</div>
			</div>
			<!-- ドライブヒストリー -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body">
						<h5 class="card-title d-flex align-items-center gap-2">
							Drive History (ドラひす)
							<span class="badge-login">
								<i class="bi bi-lock-fill"></i> ログイン必須
							</span>
						</h5>
						<p class="card-text">ドライブに関する数値を記録できるツールです。月ごとの燃費や走行距離、ガソリンなどの出費を記録できます。</p>
						<a href="/drive-history/" class="btn btn-primary w-100">使ってみる</a>
					</div>
				</div>
			</div>
			<!-- ブログ -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body">
						<h5 class="card-title">ちけのブログ</h5>
						<p class="card-text">ちけがいろいろな記事を書いていくページ。</p>
						<a href="/blog/" class="btn btn-primary w-100">見てみる</a>
					</div>
				</div>
			</div>
		</div>
</section>

</html>