body {
	background-color: #ffffff;
}

/* ヘッダー */
header {
	margin-bottom: 16px;
	padding: 8px;
	height: 100px;
	background-color: #373737;
}

.page-title {
	font-size: 1.8rem;
	font-weight: bold;
	white-space: nowrap;
	color: #959595
}

.icon,
.icon a {
	height: 100%;
}

.icon img {
	height: 100%;
	/* ヘッダーと同じ高さに */
	width: auto;
	/* 比率を維持 */
	object-fit: contain;
}

.menu a {
	color: darkgrey;
	font-size: 20px;
	text-decoration: none;
}

.menu form {
	color: darkgrey;
	font-size: 20px;
	text-decoration: none;
}

.menu button {
	color: darkgrey;
	font-size: 20px;
	text-decoration: none;
}

.menu span {
	color: darkgrey;
	font-size: 20px;
	text-decoration: none;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:hover {
	color: #ffffff;
}

strong {
	color: #ffffff;
}

header .bi-list {
	color: darkgrey;
	transition: color 0.2s ease;
}

#mobileMenu {
	background-color: #373737;
}

#mobileMenu .bg-light {
	background-color: #373737 !important;
}

#mobileMenu ul {
	margin: 0;
	padding: 0;
}

#mobileMenu li {
	padding: 12px 0;
	border-bottom: 1px solid #555;
}

#mobileMenu li:last-child {
	border-bottom: none;
}

/* メニュー共通 */
#mobileMenu a,
#mobileMenu span {
	color: darkgrey;
	font-size: 1.05rem;
	text-decoration: none;
	display: block;
}

/* hover */
#mobileMenu a:hover {
	color: #ffffff;
}

/* ようこそ表示 */
#mobileMenu span strong {
	color: #ffffff;
}

/* ログアウトを少し目立たせる */
#mobileMenu a.logout {
	color: #ff9e9e;
}

#mobileMenu a.logout:hover {
	color: #ff6b6b;
}

/* アイコン余白 */
#mobileMenu i {
	margin-right: 6px;
}

/* collapse アニメーションを滑らかに */
.collapse {
	transition: height 0.25s ease;
}

h2.subtitle {
	margin-bottom: 16px;
}

/* 左カード高さ固定 */
.flex-grow-2 {
	flex-grow: 0;
	height: 200px;
	overflow-y: auto;
}

.flex-grow-3 {
	flex-grow: 0;
	height: 300px;
	overflow-y: auto;
}

/* スマホ用（幅768px未満） */
@media (max-width: 767.98px) {
	section.flex-grow-1 {
		margin-top: 8px;
	}

	header {
		margin-bottom: 0px;
	}

	div.left-column {
		margin-top: 8px;
	}

	header h1 {
		flex: 0 0 70%;
	}

	.icon img {
		flex: 0 0 30%;
	}

	.contact a {
		color: #373737;
	}

	.contact a:hover {
		color: #aaaaaa;
	}
}

/* PC用（幅768px以上） */
@media (min-width: 768px) {}